# Das ist Git's benutzerspezifische Konfiguraionsdatei.
[user]
	name = Jake
	email = git@ja-ke.tech
	signingkey = 5EEDE26474E28FF2

[commit]
	gpgsign = true
[tag]
	gpgsign = true
[core]

[color]
	ui = auto
[pull]
	ff = only
#	rebase = true
[push]
	followTags = true
